@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
}
nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 10vh;
    width: 100%;
}
#active{
        font-size: 30px;
        cursor: pointer;
        color: #daa520;
}
#title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    cursor: pointer;
    color: #ffffff;
    margin-top: -35%;
}
#title:hover{
    font-size: 85px;
    transition: all 0.1s ease-in-out;
    color: rgb(131, 0, 0);
}
#sub_txt{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #daa520;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#logo{
    width: 100px;
}

#bgc_img{
    width: 100%;
}

/*STORE ITENS RESULT*/
#store_itens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10%;
    margin: 10%;
    margin-top: 20%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    margin-top: 25%;
    border-radius: 10px;
}
.icon{
    width: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgb(106, 0, 0);
    padding: 1%;
}
.icon:hover{
    opacity: 70%;
    width: 60px; 
    box-shadow: 2px 2px 5px 1px #ffffff;
}


#info{
    
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(72, 0, 0);
    border-radius: 10px;
    padding: 50px;
    width: 400px;
    height: 400px;
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 20px 5px rgb(109, 0, 0);
}
#info:hover{
    box-shadow: 2px 2px 20px 5px rgb(109, 0, 0);
}
#result_itens{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15%;
}


















footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 5vh;
    margin-top: 10%;
}

footer img{
    width: 20px;
}